@charset "utf-8";



/*header*/
.hdWrap{width: 100%;height: 40px;background-color: #0044af;}
.hdWrap .topBox{width: 1200px;height: 40px;margin: 0 auto;position: relative;}
		
.topBox .topLeft{width: 365px;position: absolute;left: 0;line-height: 40px;}
.topBox .topLeft li{width: 118.3333px;height: 40px;margin-right: 5px;
	float:left;font-size: 18px;text-align: center;background-color: #00163b;}
.topBox .topLeft li:nth-child(3){margin-right: 0;}
.topBox .topLeft li a{display: block;color:white;}
.topBox .topLeft li a:hover{color:#222;background-color: #fff;}
		
.topBox .topRight{width: 300px;position: absolute;right: 0;}
.topBox .topRight li{width: 60px;height: 40px;float:left;line-height: 40px;
	font-size: 12px;text-align: center;}
.topBox .topRight li a{color:white;}
.topBox .topRight li a.iconM,
.topBox .topRight li a.iconP{background: white;color:#222;
width: 20px;height: 20px;float: left;
margin-top: 10px;margin-right: 2px; line-height: 20px;}

/*mMenu*/
.mMenuWrap{width: 100%;height: 120px;background-color: #fff;}
.mMenu{width: 1200px;height: 120px;margin: 0 auto;position: relative;}
.mMenu .logo{width: 215px;height: 70px;position: absolute;left: 0;top: 25px;}
.mMenu .menu{width: 740px;height: 120px;position: absolute;right: 0;}
.mMenu .menu li{float: left;width: 123.3333px;line-height: 120px;text-align: center;}
.mMenu .menu li:last-child img{margin:0 auto;margin-top: 37.5px;}


/*contents*/
.conBg{width: 100%;height: 1300px;background-image:url(../images/00bg_dot.gif), 
	url(../images/00main_bg01.jpg); background-repeat: repeat, no-repeat;
	background-position: center; background-size:auto,cover;}
.conTop{width: 1200px;height: 260px;margin: 0 auto;position: relative;}
.conTop .topTxt{width: 690px;height: 260px;position: absolute;left: 0;}
.conTop .topTxt #txt01{font-weight: lighter;font-size: 42px;color:white;position: absolute;top: 70px;}
.conTop .topTxt #txt02{font-size: 60px;color:white;
	margin-top: 4px;position: absolute;bottom: 50px;}
.conTop .conMenu{width: 420px;height: 260px;position: absolute;right: 0;}
.conTop .conMenu .imgBox li{float: left;width: 105px;;}
.conTop .conMenu .imgBox li img{margin: 0 auto;}








/*header
header#header{height: 160px;}

contents
#contents{height: 1300px;background-image:url(../images/00bg_dot.gif), 
	url(../images/00main_bg01.jpg);
	background-repeat:repeat, no-repeat; background-position: center;
	background-size:auto,cover;}
#contents .title{width: 1200px;height: 260px;background: yellow;
	margin: 0 auto;}

#contents .container{width: 1200px;margin: 0 auto;}
#contents .container li{float:left;width: 25%;height: 225px;}

#contents .container li:nth-child(1){background: #f00;width: 75%;height: 450px;}
#contents .container li:nth-child(2){background: #0f0;height: 450px;}
#contents .container li:nth-child(3){background: #00f;}
#contents .container li:nth-child(4){background: #af0;}
#contents .container li:nth-child(5){background: #0bf;}
#contents .container li:nth-child(6){background: #0fc;}
#contents .container li:nth-child(7){background: #a01;}
#contents .container li:nth-child(8){background: #052;width: 75%;}


footer
footer#footer{height: 200px;}
*/